@font-face { font-family: 'Glacial Indifference'; src: url("/fonts/glacialindifference-regular-webfont.woff2") format("woff2"), url("/fonts/glacialindifference-regular-webfont.woff") format("woff"); font-weight: normal; font-display: swap; font-style: normal; }
@font-face { font-family: 'Glacial Indifference'; src: url("/fonts/glacialindifference-italic-webfont.woff2") format("woff2"), url("/fonts/glacialindifference-italic-webfont.woff") format("woff"); font-weight: normal; font-display: swap; font-style: italic; }
@font-face { font-family: 'Glacial Indifference'; src: url("/fonts/glacialindifference-bold-webfont.woff2") format("woff2"), url("/fonts/glacialindifference-bold-webfont.woff") format("woff"); font-weight: bold; font-display: swap; font-style: normal; }

$rainbow: 
theme('colors.black'),
theme('colors.black') 12.5%,
theme('colors.yellow.800') 12.5%,
theme('colors.yellow.800') 25%,
theme('colors.red.600') 25%,
theme('colors.red.600') 37.5%,
theme('colors.orange.400') 37.5%,
theme('colors.orange.400') 50%,
theme('colors.yellow.400') 50%,
theme('colors.yellow.400') 62.5%,
theme('colors.green.700') 62.5%,
theme('colors.green.700') 75%,
theme('colors.blue.700') 75%,
theme('colors.blue.700') 87.5%,
theme('colors.purple.800') 87.5%,
theme('colors.purple.800') 100%;

html{
    scroll-behavior: smooth;
}

body{
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
    letter-spacing: 0.02em;
    font-size: 16px;
    @media screen and (min-width: theme('screens.sm')){
        font-size: 17px;
    }
    @media screen and (min-width: theme('screens.md')){
        font-size: 18px;
    }
    @media screen and (min-width: theme('screens.lg')){
        font-size: 19px;
    }
    @media screen and (min-width: theme('screens.xl')){
        font-size: 20px;
    }
}

@import 'header';
@import 'collage';


h2{
    span{
        background: linear-gradient(to right, $rainbow);	
        -webkit-background-clip: text;			
        -webkit-text-fill-color: transparent;
    }
}

.link{
    @apply underline text-green-700;
    &:hover{
        @apply text-green-900;
    }
}

.article{
    pre{
        margin-bottom: 1.4em!important;
        @media screen and (min-width: 768px){
            margin-left: -4em!important;
            margin-right: -4rem!important;
        }
        code{
            font-size: .8em;
        }
    }
    p{
        margin-bottom: 1.4em;
        &:last-child{
            margin-bottom: 0;
        }
    }
    ul, ol{
        margin-left: 1.5em;
        margin-bottom: 1.4em;
    }
    ul{
        list-style: disc;
    }
    ol{
        list-style: decimal;
    }
    a{
        @extend .link;
    }
    h2{
        @apply font-bold text-150 leading-1 text-purple-800 mb-4 mt-20;        
    }
    h3{
        @apply font-bold text-100 mb-2 mt-5;
    }
    .link{
        @extend a;
        cursor: pointer;
    }
    .caption{
        font-size: .8em;
        @apply text-gray-600 mx-10 -mt-4 mb-10
    }
    hr{
        margin-top: 2.4em;
        margin-bottom: 2.4em;
    }
}

.text-white .article, .text-white.article{
    a{
        @apply text-white;
        &:hover{
            @apply text-purple-300;
        }
    }
}

#underpolishedchat-button-frame-wrapper{
    bottom: 24px !important;
}

.expand-wrapper{
    .expand-title{
        @apply mx-auto max-w-xl select-none mt-2;
        a, div{
            @apply block relative cursor-pointer max-w-md py-4 px-6;
        }
        div{

        }
        a{
            @apply bg-purple-100;
            &:hover{
                @apply bg-purple-800 text-white;
            }
        }
        padding-right: 50px;            
        span{
            @apply absolute font-bold text-150;
            right: 20px;
            top: 50%;
            margin-top: -18px;
            line-height: 1;                
        }
    }
}